@charset "UTF-8";
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  color: #AAA; }

.editable-wrap {
  white-space: inherit !important; }

.fc-day.holiday, .legend .holiday {
  background-color: #EEE;
  background: linear-gradient(#F3F3F3, #E6E6E6 150px); }

.legend li {
  display: inline-flex;
  list-style: none;
  margin: 10px auto auto 20px; }

.legend .legend-label {
  width: 20px;
  height: 18px;
  border-radius: 3px;
  display: inline-flex;
  border: 1px solid #ccc;
  vertical-align: middle;
  margin: auto 5px; }

.legend .holiday {
  top: -20px; }

.legend .today {
  background-color: #fcf8e3; }

/* CUSTOMIZAÇÕES DAS SKINS PARA O INSPINIA */
.nav-header {
  background-color: #243746;
  text-align: center; }
  .nav-header .profile-element .title {
    font-size: 22px;
    font-weight: 600;
    color: white; }

#big-app-name {
  display: none; }

/*
 *   SKIN 3 - Yellow/purple
*/
.skin-3 .nav-header {
  background-position: center;
  background-color: #b4763e;
  background-repeat: no-repeat; }

.skin-3 .navbar-minimalize:active {
  border-color: #f7a041;
  background-color: #f7a041; }

/*
 *   SKIN 1 - Blue
*/
.skin-1 .nav-header {
  background-color: #1484c6;
  background-repeat: no-repeat; }

.skin-1 .navbar-minimalize:active {
  border-color: #1975b0;
  background-color: #1975b0; }

