<page-header page-title="Componentes de formulário"></page-header>

<div class="wrapper wrapper-content animated fadeInRight" >
    <div class="ibox">
        <div class="ibox-title">
            <h5 ng-i18n="Básicos"></h5>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal" ng-submit="viewModel.seeBasic()">
                <div class="form-group">
                    <label class="control-label col-xs-2" ng-i18n="Texto"></label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" ng-model="viewModel.basic.text">
                    </div>
                    <label class="control-label col-xs-2" ng-i18n="Placeholder (com i18n)"></label>
                    <div class="col-xs-4">
                        <input type="text" ng-i18n-placeholder="label.name" class="form-control" ng-model="viewModel.basic.placeholder">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" ng-i18n="password"></label>
                    <div class="col-xs-10">
                        <input type="password" class="form-control" ng-model="viewModel.basic.password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="text-right"><button class="btn btn-primary" ng-i18n="Ver resultado"></button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-title">
            <h5 ng-i18n="Checkbox awesome"></h5>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal" ng-submit="viewModel.seeCheckbox()">
                <div class="form-group">
                    <label class="control-label col-xs-2" ng-i18n="checkbox"></label>
                    <div class="col-xs-4">
                        <div class="checkbox">
                            <input ng-model="viewModel.checkbox.check.default" type="checkbox" id="exempleCB1">
                            <label for="exempleCB1" ng-i18n="default"></label>
                        </div>
                        <div class="checkbox checkbox-primary">
                            <input ng-model="viewModel.checkbox.check.primary" type="checkbox" id="exempleCB2">
                            <label for="exempleCB2" ng-i18n="primary"></label>
                        </div>
                        <div class="checkbox checkbox-success">
                            <input ng-model="viewModel.checkbox.check.success" type="checkbox" id="exempleCB3">
                            <label for="exempleCB3" ng-i18n="success"></label>
                        </div>
                        <div class="checkbox checkbox-info">
                            <input ng-model="viewModel.checkbox.check.info" type="checkbox" id="exempleCB4">
                            <label for="exempleCB4" ng-i18n="info"></label>
                        </div>
                        <div class="checkbox checkbox-warning">
                            <input ng-model="viewModel.checkbox.check.warning" type="checkbox" id="exempleCB5">
                            <label for="exempleCB5" ng-i18n="warning"></label>
                        </div>
                        <div class="checkbox checkbox-danger">
                            <input ng-model="viewModel.checkbox.check.danger" type="checkbox" id="exempleCB6">
                            <label for="exempleCB6" ng-i18n="danger"></label>
                        </div>
                    </div>

                    <label class="control-label col-xs-2" ng-i18n="radio"></label>
                    <div class="col-xs-4">
                        <div class="radio">
                            <input ng-model="viewModel.checkbox.radio" type="radio" id="exampleRB1" name="radioGroup" value="default">
                            <label for="exampleRB1" ng-i18n="default"></label>
                        </div>
                        <div class="radio radio-primary">
                            <input ng-model="viewModel.checkbox.radio" type="radio" id="exampleRB2" name="radioGroup" value="primary">
                            <label for="exampleRB2" ng-i18n="primary"></label>
                        </div>
                        <div class="radio radio-success">
                            <input ng-model="viewModel.checkbox.radio" type="radio" id="exampleRB3" name="radioGroup" value="success">
                            <label for="exampleRB3" ng-i18n="success"></label>
                        </div>
                        <div class="radio radio-info">
                            <input ng-model="viewModel.checkbox.radio" type="radio" id="exampleRB4" name="radioGroup" value="info">
                            <label for="exampleRB4" ng-i18n="info"></label>
                        </div>
                        <div class="radio radio-warning">
                            <input ng-model="viewModel.checkbox.radio" type="radio" id="exampleRB5" name="radioGroup" value="warning">
                            <label for="exampleRB5" ng-i18n="warning"></label>
                        </div>
                        <div class="radio radio-danger">
                            <input ng-model="viewModel.checkbox.radio" type="radio" id="exampleRB6" name="radioGroup" value="danger">
                            <label for="exampleRB6" ng-i18n="danger"></label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-2" ng-i18n="checkbox inline"></label>
                    <div class="col-xs-10">
                        <div class="checkbox checkbox-inline">
                            <input ng-model="viewModel.checkbox.inline.default" type="checkbox" id="exampleInlineCB1" name="cb1">
                            <label for="exampleInlineCB1" ng-i18n="default"></label>
                        </div>
                        <div class="checkbox checkbox-inline checkbox-primary">
                            <input ng-model="viewModel.checkbox.inline.primary" type="checkbox" id="exampleInlineCB2" name="cb2">
                            <label for="exampleInlineCB2" ng-i18n="primary"></label>
                        </div>
                        <div class="checkbox checkbox-inline checkbox-success">
                            <input ng-model="viewModel.checkbox.inline.success" type="checkbox" id="exampleInlineCB3" name="cb3">
                            <label for="exampleInlineCB3" ng-i18n="success"></label>
                        </div>
                        <div class="checkbox checkbox-inline checkbox-info">
                            <input ng-model="viewModel.checkbox.inline.info" type="checkbox" id="exampleInlineCB4" name="cb4">
                            <label for="exampleInlineCB4" ng-i18n="info"></label>
                        </div>
                        <div class="checkbox checkbox-inline checkbox-warning">
                            <input ng-model="viewModel.checkbox.inline.warning" type="checkbox" id="exampleInlineCB5" name="cb5">
                            <label for="exampleInlineCB5" ng-i18n="warning"></label>
                        </div>
                        <div class="checkbox checkbox-inline checkbox-danger">
                            <input ng-model="viewModel.checkbox.inline.danger" type="checkbox" id="exampleInlineCB6" name="cb6">
                            <label for="exampleInlineCB6" ng-i18n="danger"></label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-2" ng-i18n="radio inline"></label>
                    <div class="col-xs-10">
                        <div class="radio radio-inline">
                            <input ng-model="viewModel.checkbox.inlineRadio" type="radio" id="exampleInlineRB1" name="inlineRadioGroup" value="inline-rb1">
                            <label for="exampleInlineRB1" ng-i18n="default"></label>
                        </div>
                        <div class="radio radio-inline radio-primary">
                            <input ng-model="viewModel.checkbox.inlineRadio" type="radio" id="exampleInlineRB2" name="inlineRadioGroup" value="inline-rb2">
                            <label for="exampleInlineRB2" ng-i18n="primary"></label>
                        </div>
                        <div class="radio radio-inline radio-success">
                            <input ng-model="viewModel.checkbox.inlineRadio" type="radio" id="exampleInlineRB3" name="inlineRadioGroup" value="inline-rb3">
                            <label for="exampleInlineRB3" ng-i18n="success"></label>
                        </div>
                        <div class="radio radio-inline radio-info">
                            <input ng-model="viewModel.checkbox.inlineRadio" type="radio" id="exampleInlineRB4" name="inlineRadioGroup" value="inline-rb4">
                            <label for="exampleInlineRB4" ng-i18n="info"></label>
                        </div>
                        <div class="radio radio-inline radio-warning">
                            <input ng-model="viewModel.checkbox.inlineRadio" type="radio" id="exampleInlineRB5" name="inlineRadioGroup" value="inline-rb5">
                            <label for="exampleInlineRB5" ng-i18n="warning"></label>
                        </div>
                        <div class="radio radio-inline radio-danger">
                            <input ng-model="viewModel.checkbox.inlineRadio" type="radio" id="exampleInlineRB6" name="inlineRadioGroup" value="inline-rb6">
                            <label for="exampleInlineRB6" ng-i18n="danger"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="text-right"><button class="btn btn-primary" ng-i18n="Ver resultado"></button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-title">
            <h5 ng-i18n="Switch (toggle)"></h5>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal" ng-submit="viewModel.seeSwitch()">
                <h3 ng-i18n=""></h3>
                <div class="form-group">
                    <label class="col-xs-2 control-label" for="switch" ng-i18n="Switch"></label>
                    <div class="col-xs-10">
                        <div class="onoffswitch">
                            <input type="checkbox" class="onoffswitch-checkbox" id="switch" ng-model="viewModel.switch">
                            <label for="switch" class="onoffswitch-label"><span class="onoffswitch-inner"></span>                                            <span class="onoffswitch-switch"></span></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="text-right"><button class="btn btn-primary" ng-i18n="Ver resultado"></button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-title">
            <h5 ng-i18n="Select"></h5>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal" ng-submit="viewModel.seeSelect()">
                <div class="form-group">
                    <label class="col-xs-2 control-label" ng-i18n="select simples"></label>
                    <div class="col-xs-10">
                        <ui-select ng-model="viewModel.select.simple" theme="bootstrap">
                            <ui-select-match>{{$select.selected.Description}}</ui-select-match>
                            <ui-select-choices repeat="item.Id as item in viewModel.selectOptions | filter: $select.search">
                                <div ng-bind-html="item.Description | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label" ng-i18n="select múltiplo"></label>
                    <div class="col-xs-10">
                        <ui-select ng-model="viewModel.select.multiple" theme="bootstrap" multiple>
                            <ui-select-match>{{$item.Description}}</ui-select-match>
                            <ui-select-choices repeat="item.Id as item in viewModel.selectOptions | filter: $select.search">
                                <div ng-bind-html="item.Description | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label" ng-i18n="picklist"></label>
                    <div class="col-xs-10">
                        <picklist list="viewModel.selectOptions" description="Description" right-list="viewModel.select.picklist" height-list="150px"></picklist>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="text-right"><button class="btn btn-primary" ng-i18n="Ver resultado"></button></div>
                    </div>
                </div>
                <hr class="hr-line-dashed" />
            </form>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-title">
            <h5 ng-i18n="Data (date-range-picker)"></h5>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal" ng-submit="viewModel.seeDate()">
                <div class="form-group">
                    <label class="col-xs-2 control-label" ng-i18n="data simples"></label>
                    <div class="col-xs-10">
                        <input class="form-control" date-range-picker ng-model="viewModel.date.simple" options="viewModel.dateOptionsSimple" clearable />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label" ng-i18n="período (data range)"></label>
                    <div class="col-xs-10">
                        <input class="form-control" date-range-picker ng-model="viewModel.date.range" options="viewModel.dateOptionsRange" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label" ng-i18n="período com opções pré-definidas"></label>
                    <div class="col-xs-10">
                        <input class="form-control" date-range-picker ng-model="viewModel.date.rangePre" options="viewModel.dateOptionsPre" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="text-right"><button class="btn btn-primary" ng-i18n="Ver resultado"></button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-title">
            <h5 ng-i18n="Cor"></h5>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal" ng-submit="viewModel.seeColor()">
                <div class="form-group">
                    <label class="col-xs-2 control-label" ng-i18n="cor"></label>
                    <div class="col-xs-10">
                        <div class="input-group">
                            <input colorpicker type="text" ng-model="viewModel.color" class="form-control" />
                            <span class="input-group-addon"><i class="fa fa-square" ng-style="{'color': viewModel.color||'#FFF'}"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="text-right"><button class="btn btn-primary" ng-i18n="Ver resultado"></button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-title">
            <h5 ng-i18n="Adicional"></h5>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal" ng-submit="viewModel.submit()">
                <!-- TODO: ver o que está dando bug no tooltip -->
                <div class="form-group">
                    <label class="col-xs-2 control-label">
                        <span ng-i18n="helper"></span>
                        <span ng-i18n-helper="Texto descritivo para entendimento do campo"></span>
                    </label>
                    <div class="col-xs-4"><input class="form-control" /></div>
                    <label class="col-xs-2 control-label">
                        <span ng-i18n="helper"></span>
                        <span ng-i18n-helper="placement=right" placement="right"></span>
                    </label>
                    <div class="col-xs-4"><input class="form-control" /></div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label" ng-i18n="file"></label>
                    <div class="col-xs-10">
                        <div class="input-group m-b">
                            <span class="input-group-btn">
                                <label class="btn btn-blue btn-block btn-outline">
                                    <span ng-i18n="label.select"></span>
                                    <input type="file" class="form-control hide" ng-files="viewModel.file" />
                                </label>
                            </span>
                            <input type="text" class="form-control" ng-model="viewModel.file[0].name" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label" ng-i18n="load button (ladda)"></label>
                    <div class="col-xs-10">
                        <button class="btn btn-primary" type="button" ng-click="viewModel.loadingButton.onClick()" ng-i18n="{{viewModel.loadingButton.loading?'Carregando...':'Carregar'}}"
                                ladda="viewModel.loadingButton.loading" data-style="expand-left"></button>
                        <!-- data-style e outras configurações,
                        vide: https://github.com/remotty/angular-ladda
                        ou: http://webapplayers.com/inspinia_admin-v2.5/loading_buttons.html -->
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-title">
            <h5 ng-i18n="Números"></h5>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal" ng-submit="viewModel.seeNumbers()">
                <div class="form-group">
                    <label class="col-xs-2 control-label" ng-i18n="inteiro"></label>
                    <div class="col-xs-4">
                        <p class="form-control-static" ng-numeral="viewModel.numeral.integer"></p>
                    </div>
                    <label class="col-xs-2 form-control-static" ng-i18n="decimal"></label>
                    <div class="col-xs-4">
                        <p class="form-control-static" ng-numeral="viewModel.numeral.decimal" format="0,0.00[0]"></p>
                        <!-- format vide: http://numeraljs.com/ -->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label" ng-i18n="input numeral"></label>
                    <div class="col-xs-10">
                        <input class="form-control" ng-model="viewModel.numeral.input" input-numeral format="0,0.00[0]" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="text-right"><button class="btn btn-primary" ng-i18n="Ver resultado"></button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-title">
            <h5 ng-i18n="Máscara"></h5>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal" ng-submit="viewModel.seeMask()">
                <div class="form-group">
                    <label class="col-xs-2 control-label" ng-i18n="Telefone"></label>
                    <div class="col-xs-4">
                        <input class="form-control" ng-model="viewModel.mask.tel" mask="(99) 9?9999-9999" />
                    </div>
                    <label class="col-xs-2 control-label" ng-i18n="RG (clean=true)"></label>
                    <div class="col-xs-4">
                        <input class="form-control" ng-model="viewModel.mask.rg" mask="99.999.999-9" clean="true" />
                    </div>
                    <!-- ngMask: http://candreoliveira.github.io/bower_components/angular-mask/examples/index.html/ -->
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="text-right"><button class="btn btn-primary" ng-i18n="Ver resultado"></button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 ng-i18n="Formulário básico"></h5>
                </div>
                <div class="ibox-content">
                    <form>
                        <div class="form-group"><label ng-i18n="label.name"></label> <input type="email" class="form-control"></div>
                        <div class="form-group"><label ng-i18n="label.pass"></label> <input type="password" class="form-control"></div>
                        <div class="form-group">
                            <label></label>
                            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" ng-i18n="Action"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 ng-i18n="Formulário horizontal"></h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-3" ng-i18n="label.name"></label>
                            <div class="col-xs-9">
                                <input type="text" ng-i18n-placeholder="label.name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" ng-i18n="label.pass"></label>
                            <div class="col-xs-9">
                                <input type="password" ng-i18n-placeholder="label.pass" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label></label>
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" ng-i18n="Action"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>