<div class="middle-box text-center loginscreen animated fadeInDown">
    <div class="m-t-xl">
        <form class="m-t" role="form" ng-submit="viewModel.functions.saveItem()" ng-hide="authenticationType=='AD'">
            <h2 ng-i18n="nav.change_pass"></h2>
            <div class="form-group">
                <input type="password" class="form-control" ng-i18n-placeholder="label.pass" required ng-model="viewModel.itemEditing.passwordOld">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-i18n-placeholder="label.new_pass" required ng-model="viewModel.itemEditing.passwordNew">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-i18n-placeholder="label.confirm_pass" required ng-model="viewModel.itemEditing.passwordConfirm">
            </div>
            <button type="submit" class="btn btn-primary block full-width" ng-i18n="nav.change_pass"></button>
        </form>
    </div>

    <div class="well m-t-lg" ng-show="authenticationType=='AD'">
        <h3 ng-i18n="nav.change_pass"></h3>
        
        <p ng-i18n="alerts:warning.user_ad_cannot_change_pass"></p>
    </div>
</div>