<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <!-- better: width <= 300px -->
        <img ng-src="{{::generalConfig.logoImg.login}}" />
    </div>
    <div style="font-size:11px; padding-top:10px;">
        <span ng-i18n="app.welcome"></span> <span ng-i18n="app.name"></span>
    </div>
    <form class="m-t" role="form" ng-submit="viewModel.functions.authenticate()" ng-if="!viewModel.changePasswordExpired" id="login">
        <div class="form-group">
            <input type="text" required class="form-control" ng-i18n-placeholder="label.login" ng-model="viewModel.itemEditing.username" />
        </div>
        <div class="form-group">
            <!-- ATENÇÃO: Por questões de segurança, não defina o tamanho máximo de caracteres para o campo senha -->
            <input type="password" required class="form-control" ng-i18n-placeholder="label.pass" ng-model="viewModel.itemEditing.password" />
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b" ng-i18n="label.login"></button>

        <a ui-sref="app.recoverPassword"><small ng-i18n="page.account.forgot_pass"></small></a>
        <br /><br />
        <!-- Retirar o bloco abaixo quando a aplicação for para produção -->
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Login: admin / Senha: 123456
        </div>
        <!---------------------------->
    </form>

    <form class="m-t" role="form" ng-submit="viewModel.functions.changePassword()" ng-if="viewModel.changePasswordExpired" id="resetPassword">
        <div class="form-group">
            <input type="text" required class="form-control" ng-i18n-placeholder="label.login" ng-model="viewModel.itemEditing.username" />
        </div>
        <div class="form-group">
            <input type="password" required class="form-control" ng-i18n-placeholder="label.pass" ng-model="viewModel.itemEditing.password" />
        </div>
        <div class="form-group">
            <input type="password" required class="form-control" ng-i18n-placeholder="label.new_pass" ng-model="viewModel.itemEditing.newPassword" />
        </div>
        <div class="form-group">
            <input type="password" required class="form-control" ng-i18n-placeholder="label.confirm_pass" ng-model="viewModel.itemEditing.confirmPassword" />
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b" ng-i18n="label.redefine_pass"></button>
    </form>
</div>