<div class="row border-bottom" id="topnavbar">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>

            <span id="big-app-name">
                <strong class="font-bold title-system" ng-i18n="app.short_name"></strong>
                <strong class="subtitle-system" ng-i18n="app.description"></strong>
            </span>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li uib-dropdown ng-show="viewModel.listItems.length > 0">
                <a class="count-info" uib-dropdown-toggle ng-click="viewModel.functions.toggleNotifications()">
                    <i class="fa fa-bell"></i> <span class="label label-primary" ng-show="viewModel.amountNewNotifications > 0">{{viewModel.amountNewNotifications}}</span>
                </a>
                <ul class="dropdown-alerts" uib-dropdown-menu>
                    <ng-repeat ng-repeat="notification in viewModel.listItems">
                        <li class="divider" ng-hide="!$index"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <div class="media-body ">
                                    <i class="fa fa-star fa-fw" ng-show="!notification.readIn"></i> <span ng-bind-html="notification.message | notification"></span>
                                    <br />
                                    <small class="text-muted" ng-moment="::notification.date" format="LLLL"></small>
                                </div>
                            </div>
                        </li>
                    </ng-repeat>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a ui-sref="notifications">
                                <i class="fa fa-envelope"></i> <strong ng-i18n="nav.reader_all_messages"></strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown" id="app-name">
                <a ui-sref="home"><strong class="font-bold" ng-i18n="app.name"></strong></a>
            </li>
            <li>
                <a ui-sref="login" ng-click="viewModel.functions.signout()"><i class="fa fa-big fa-sign-out"></i></a>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle count-info" aria-expanded="false">
                    <i class="flag flag-16 flag-{{viewModel.language}}"></i> {{viewModel.language}}
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="lang in viewModel.availableLanguages">
                        <a ng-click="viewModel.functions.changeLanguage(lang.code)">
                            <i class="flag flag-16 flag-{{lang.code}}"></i>
                            {{lang.name}}
                        </a>
                    </li>
                    <li></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>