<page-header page-title="page.clients.head" breadcrumb="['nav.manager', 'nav.clients']"></page-header>

<div class="wrapper wrapper-content">
    <div class="animated fadeInLeft">
        <div class="ibox">
            <div class="ibox-title">
                <h5 ng-i18n="{{ viewModel.itemEditing.Id ? 'page.clients.edit_data' : 'page.clients.new_data' }}"></h5>
            </div>
            <div class="ibox-content" ng-init="typeEnum = viewModel.itemTypeEnum">
                <form ng-submit="viewModel.functions.saveItem()" name="clientForm" ng-valid="clientForm.$valid">
                    <div class="form-group" ng-if="viewModel.itemEditing.action=='edit'">
                        <label class="control-label" ng-i18n="label.active"></label>
                        <div class="onoffswitch">
                            <input id="active" type="checkbox" ng-model="viewModel.itemEditing.Active" class="onoffswitch-checkbox" />
                            <label for="active" class="onoffswitch-label"><span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" ng-i18n="label.name"></label>
                        <input type="text" required class="form-control" ng-model="viewModel.itemEditing.Name" maxlength="50" />
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label" ng-i18n="label.type"></label>
                                <div>
                                    <div class="radio radio-inline radio-primary">
                                        <input id="person" name="type" ng-model="viewModel.itemEditing.Type" type="radio" ng-value="typeEnum.person" ng-disabled="viewModel.itemEditing.action=='edit'" />
                                        <label for="person" ng-i18n="label.person"></label>
                                    </div>
                                    <div class="radio radio-inline radio-primary">
                                        <input id="company" name="type" ng-model="viewModel.itemEditing.Type" type="radio" ng-value="typeEnum.company" ng-false-value="typeEnum.person" ng-disabled="viewModel.itemEditing.action=='edit'" />
                                        <label for="company" ng-i18n="label.company"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <div ng-show="viewModel.itemEditing.Type==typeEnum.company">
                                    <label class="control-label" ng-i18n="label.cnpj"></label>
                                    <input type="text" ng-required="viewModel.itemEditing.Type==typeEnum.company" class="form-control" ng-model="viewModel.itemEditing.CNPJ" mask="99.999.999/9999-99" clean="true" />
                                    <!-- opções para máscara vide: https://github.com/candreoliveira/ngMask -->
                                </div>
                                <div ng-show="viewModel.itemEditing.Type==typeEnum.person">
                                    <label class="control-label" ng-i18n="label.cpf"></label>
                                    <input type="text" ng-required="viewModel.itemEditing.Type==typeEnum.person" class="form-control" ng-model="viewModel.itemEditing.CPF" mask="9?99.999.999-99" clean="true" />
                                    <!-- opções para máscara vide: https://github.com/candreoliveira/ngMask -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="viewModel.itemEditing.Type!=typeEnum.company">
                        <label class="control-label" ng-i18n="label.birth_date"></label>
                        <input class="form-control"
                               date-range-picker ng-model="viewModel.itemEditing.BirthDate"
                               options="viewModel.dateBirthOptions" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" ng-i18n="label.email"></label>
                        <input type="email" required class="form-control" ng-model="viewModel.itemEditing.Email" maxlength="50" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" ng-i18n="label.telephone"></label>
                        <input type="text" class="form-control" ng-model="viewModel.itemEditing.Telephone" mask="(99) 9?9999-9999" clean="true" />
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-primary" type="submit" ng-i18n="label.save"></button>
                        <button class="btn btn-default" ui-sref="clients-list" ng-i18n="page.clients.see_clients"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
