<page-header page-title="nav.calendar" breadcrumb="['nav.calendar']"></page-header>

<div class="wrapper wrapper-content">
    <div class="animated fadeInLeft">
        <div class="ibox" id="calendar">
            <div class="ibox-title">
                <h5 ng-i18n="nav.calendar"></h5>
                <div class="ibox-tools">
                    <a data-toggle="dropdown"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu dropdown-user">
                        <!--<li><a ng-bind="('page.calendar.new_data'|ngI18n) + ' | other page'" ui-sref="index.agenda"></a></li>-->
                        <li><a ng-i18n="page.calendar.new_data" data-toggle="modal" data-target="#edit" ng-click="viewModel.functions.newItem()"></a></li>
                        <li><a ng-i18n="page.calendar.holidays" ui-sref="holidays"></a></li>
                        <li><a ng-i18n="{{ viewModel.isBusinessHour? 'page.calendar.all_day' : 'page.calendar.business_hour' }}" ng-click="viewModel.functions.toggleBusinessHour()"></a></li>
                    </ul>
                </div>
            </div>
            <div class="ibox-content ui-calendar">
                <div ui-calendar="viewModel.calendarConfig" calendar="calendar" ng-model="viewModel.listItems"></div>
                <ul class="legend">
                    <li ng-repeat="item in viewModel.calendarLegend"><span class="legend-label" ng-class="item.classColor"></span> <span ng-i18n="{{item.description}}"></span></li>
                </ul>
            </div>
        </div>
    </div>

    <div aria-hidden="true" role="dialog" tabindex="-1" id="edit" class="modal inmodal fade in">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" ng-i18n="{{ viewModel.itemEditing.action=='edit' ? 'page.calendar.edit_data' : 'page.calendar.new_data' }}"></h4>
                </div>
                <form ng-submit="viewModel.functions.saveItem()">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <label class="control-label" ng-i18n="label.description"></label>
                                <input type="text" class="form-control" ng-model="viewModel.itemEditing.Description" />
                            </div>
                            <div class="col-xs-6 form-group">
                                <label class="control-label" ng-i18n="label.date"></label>
                                <input type="text" class="form-control" date-range-picker ng-model="viewModel.itemEditing.Date" options="viewModel.dateConfig" />
                            </div>
                            <div class="col-xs-6 form-group">
                                <label class="control-label" ng-i18n="page.calendar.color"></label>
                                <div class="input-group">
                                    <input colorpicker type="text" ng-model="viewModel.itemEditing.Color" class="form-control" maxlength="7" />
                                    <span class="input-group-addon"><i class="fa fa-square" ng-style="{'color': viewModel.itemEditing.Color||'#FFF'}"></i></span>
                                </div>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label class="control-label" ng-i18n="page.calendar.start"></label>
                                <input class="form-control" ng-model="viewModel.itemEditing.Start" ng-time mask="2?9:59" />
                            </div>
                            <div class="col-xs-6 form-group">
                                <label class="control-label" ng-i18n="page.calendar.end"></label>
                                <input class="form-control" ng-model="viewModel.itemEditing.End" ng-time mask="2?9:59" clearable />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-white" type="button" ng-i18n="label.cancel"></button>
                        <button class="btn btn-primary" type="submit" ng-i18n="label.save"></button>
                        <button ng-if="viewModel.itemEditing.action=='edit'" class="btn btn-danger" type="button" ng-i18n="label.remove" data-toggle="modal" data-target="#deleteConfirm"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div aria-hidden="true" role="dialog" tabindex="-1" id="deleteConfirm" class="modal inmodal fade">
        <div class="modal-dialog">
            <div class="modal-content animated bounceIn">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">
                        <i class="fa fa-trash"></i>
                        <span ng-i18n="alerts:confirm.delete"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3 class="text-center" ng-i18n="alerts:confirm.sure_delete"></h3>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-white" type="button" ng-i18n="label.cancel"></button>
                    <button class="btn btn-danger" type="button" ng-click="viewModel.functions.removeItem(viewModel.itemEditing.Id)" ng-i18n="label.remove"></button>
                </div>
            </div>
        </div>
    </div>

</div>
