<page-header page-title="page.calendar.holidays" breadcrumb="['nav.calendar','page.calendar.holidays']"></page-header>

<div class="wrapper wrapper-content">

    <div id="list" class="animated fadeInLeft">
        <div class="ibox" id="edit">
            <div class="ibox-title">
                <h5 ng-i18n="page.calendar.new_holiday"></h5>
            </div>
            <div class="ibox-content">
                <form class="form row" ng-submit="viewModel.functions.saveItem()">
                    <div class="col-xs-3 form-group">
                        <label class="control-label" ng-i18n="label.date"></label>
                        <input class="form-control" date-range-picker ng-model="viewModel.itemEditing.Date" options="viewModel.dateConfig" clearable />
                    </div>
                    <div class="col-xs-9 form-group">
                        <label class="control-label" ng-i18n="page.calendar.holiday"></label>
                        <input type="text" class="form-control" ng-model="viewModel.itemEditing.Description" />
                    </div>

                    <div class="col-xs-3 form-group">
                        <label class="control-label">&nbsp;</label>
                        <div ng-init="typeEnum = viewModel.holidayTypeEnum">
                            <div class="radio radio-inline">
                                <input ng-model="viewModel.itemEditing.HolidayType" type="radio" id="typeNacional" name="holidayType" ng-value="typeEnum.nacional">
                                <label for="typeNacional" ng-i18n="label.nacional"></label>
                            </div>
                            <div class="radio radio-inline">
                                <input ng-model="viewModel.itemEditing.HolidayType" type="radio" id="typeMunicipal" name="holidayType" ng-value="typeEnum.municipal">
                                <label for="typeMunicipal" ng-i18n="label.municipal"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-7 form-group">
                        <label class="control-label" ng-i18n="label.city"></label>
                        <ui-select ng-model="viewModel.itemEditing.City" theme="bootstrap" ng-disabled="viewModel.itemEditing.HolidayType != typeEnum.municipal">
                            <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="item.Id as item in viewModel.cities | filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-xs-2 form-group">
                        <label class="control-label">&nbsp;</label>
                        <button class="btn btn-primary btn-block" type="submit" ng-i18n="label.add"></button>
                    </div>
                </form>
            </div>
        </div>

        <div class="ibox" id="list">
            <div class="ibox-title"><h5 ng-i18n="page.calendar.holidays"></h5></div>
            <div class="ibox-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="1%"></th>
                            <th ng-i18n="label.date"></th>
                            <th ng-i18n="label.description"></th>
                            <th ng-i18n="label.city"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in viewModel.listItems">
                            <td><a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteConfirm" ng-click="viewModel.functions.editItem(item)"><i class="fa fa-trash"></i></a></td>
                            <td ng-moment="item.Date" format="L"></td>
                            <td ng-bind="item.Description"></td>
                            <td ng-bind="item.City.Name || ('label.nacional' | ngI18n)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div aria-hidden="true" role="dialog" tabindex="-1" id="deleteConfirm" class="modal inmodal fade">
        <div class="modal-dialog">
            <div class="modal-content animated bounceIn">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">
                        <i class="fa fa-trash"></i>
                        <span ng-i18n="alerts:confirm.delete"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h3 class="text-center" ng-i18n="alerts:confirm.sure_delete"></h3>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-white" type="button" ng-i18n="label.cancel"></button>
                    <button class="btn btn-danger" type="button" ng-click="viewModel.functions.removeItem(viewModel.itemEditing.Id)" ng-i18n="label.remove"></button>
                </div>
            </div>
        </div>
    </div>

</div>
