<page-header page-title="page_head.checkup" breadcrumb="['nav.settings', 'page_head.checkup']"></page-header>


<div class="wrapper wrapper-content animated fadeInRight" >
    <small class="btn btn-link m-b" ui-sref="home"><i class="fa fa-arrow-left"></i> Voltar para o site</small>

    <div class="ibox" id="frontEnd">
        <div class="ibox-title">
            <h5 class="m-b" ng-i18n="page.checkup.frontend_config"></h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-8">
                    <div class="row">
                        <label class="col-xs-3">Versão Template</label>
                        <span class="col-xs-9" ng-bind="viewModel.itemEditing.frontEnd.templateVersion"></span>
                    </div>
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="page.checkup.api_address"></label>
                        <span class="col-xs-9" ng-bind="viewModel.itemEditing.frontEnd.baseAddressApi"></span>
                    </div>
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="page.checkup.lang_default"></label>
                        <span class="col-xs-9" ng-bind="viewModel.itemEditing.frontEnd.languageDafault"></span>
                    </div>
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="page.checkup.lang_current"></label>
                        <span class="col-xs-9" ng-bind="viewModel.itemEditing.frontEnd.languageCurrent"></span>
                    </div>
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="page.checkup.frontend_cache_enabled"></label>
                        <span class="col-xs-9" ng-bind="viewModel.itemEditing.frontEnd.cacheFrontEndFiles | yesno"></span>
                    </div>
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="page.checkup.current_datetime"></label>
                        <span class="col-xs-9" ng-moment="viewModel.itemEditing.frontEnd.dateTimeNow" format="LLL"></span>
                    </div>
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="page.checkup.utc_offset"></label>
                        <span class="col-xs-9" ng-bind="viewModel.itemEditing.frontEnd.dateTimeUTCOffSet"></span>
                    </div>
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="page.checkup.current_datetime_utc"></label>
                        <span class="col-xs-9" ng-moment="viewModel.itemEditing.frontEnd.dateTimeNowUTC" format="LLL"></span>
                    </div>
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="page.checkup.format_number"></label>
                        <span class="col-xs-9" ng-numeral="viewModel.itemEditing.frontEnd.number" format="0,0.00[0]"></span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <result-widget result="viewModel.itemEditing.testApiHeartBeatResult"
                                   success-text="alerts:success.success"
                                   fail-text="alerts:error.fail"></result-widget>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox" id="log">
        <div class="ibox-title">
            <h5 class="m-b">
                <span ng-i18n="page.checkup.log_info"></span>
                <small class="btn btn-link" ng-i18n="page.checkup.go_to_log" ui-sref="external.log"></small>
            </h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-8">
                    <div ng-repeat="log in viewModel.itemEditing.log">
                        <hr class="hr-line-dashed" ng-show="$index" />
                        <div class="row">
                            <label class="col-xs-3" ng-i18n="page.checkup.log_file"></label>
                            <span class="col-xs-9" ng-bind="log.LogFile | yesno"></span>
                        </div>
                        <div class="row" ng-show="log.LogFile">
                            <label class="col-xs-3" ng-i18n="page.checkup.file_path"></label>
                            <span class="col-xs-9" ng-bind="log.FilePath"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <result-widget result="viewModel.itemEditing.testLogResult"
                                   success-text="alerts:success.success"
                                   fail-text="alerts:error.fail"></result-widget>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox" id="database">
        <div class="ibox-title">
            <h5 class="m-b" ng-i18n="page.checkup.database_info"></h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-8">
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="page.checkup.database_name"></label>
                        <span class="col-xs-9" ng-bind="viewModel.itemEditing.database.DataBaseName"></span>
                    </div>
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="page.checkup.server_name"></label>
                        <span class="col-xs-9" ng-bind="viewModel.itemEditing.database.ServerInstanceName"></span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <result-widget result="viewModel.itemEditing.testDataBaseHeartBeatResult"
                                   success-text="alerts:success.success"
                                   fail-text="alerts:error.fail"></result-widget>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox" id="smtp">
        <div class="ibox-title">
            <h5 class="m-b" ng-i18n="page.checkup.smtp_info"></h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-8">
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="page.checkup.delivery_method"></label>
                        <span class="col-xs-9" ng-bind="viewModel.itemEditing.smtp.DeliveryMethod"></span>
                    </div>
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="label.directory"></label>
                        <span class="col-xs-9" ng-bind="checkup.smtp.Directory"></span>
                    </div>
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="page.general_settings.default_from_address"></label>
                        <span class="col-xs-9" ng-bind="viewModel.itemEditing.smtp.DefaultFromAddress"></span>
                    </div>
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="page.checkup.host"></label>
                        <span class="col-xs-9" ng-bind="viewModel.itemEditing.smtp.Host"></span>
                    </div>
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="page.checkup.port"></label>
                        <span class="col-xs-9" ng-bind="viewModel.itemEditing.smtp.Port"></span>
                    </div>
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="page.checkup.enabled_ssl"></label>
                        <span class="col-xs-9" ng-bind="viewModel.itemEditing.smtp.EnableSsl | yesno"></span>
                    </div>
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="page.general_settings.credentials_username"></label>
                        <span class="col-xs-9" ng-bind="viewModel.itemEditing.smtp.CredentialUsername"></span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <form ng-submit="viewModel.functions.testSmtp(viewModel.email)" ng-show="viewModel.itemEditing.smtp.DeliveryMethod == 'SMTP Server'">
                        <div class="input-group">
                            <input type="email" class="form-control" ng-model="viewModel.email" ng-i18n="[placeholder]label.email" />
                            <span class="input-group-btn">
                                <button class="m-b ladda-button btn btn-default btn-outline" ng-i18n="page.checkup.test"
                                        ladda="testSmtpLoading" data-style="expand-right"></button>
                            </span>
                        </div>
                    </form>
                    <email-result-widget result="viewModel.itemEditing.sentMail"
                                         success-text="general:page.checkup.sent_test_email"
                                         success-desc="{{ 'general:page.checkup.' + (viewModel.itemEditing.smtp.DeliveryMethod == 'SMTP Server' ? 'verify_email' : 'verify_directory') }}"
                                         fail-text="alerts:error.fail"></email-result-widget>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox" id="fileUpload">
        <div class="ibox-title">
            <h5 class="m-b" ng-i18n="label.upload"></h5>

        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-8">
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="label.directory_temp_upload"></label>
                        <span class="col-xs-9" ng-bind="viewModel.itemEditing.fileUpload.DirectoryTempUpload"></span>
                    </div>
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="label.file_count"></label>
                        <span class="col-xs-9" ng-bind="viewModel.itemEditing.fileUpload.FileCount"></span>
                    </div>
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="label.files"></label>
                        <span class="col-xs-9" ng-bind="viewModel.itemEditing.fileUpload.FilesLengthInBytes | filesize"></span>
                    </div>
                    <div class="row">
                        <label class="col-xs-3" ng-i18n="label.max_request_length_kb"></label>
                        <span class="col-xs-9" ng-bind="viewModel.itemEditing.fileUpload.MaxRequestLengthInBytes | filesize"></span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <result-widget result="viewModel.itemEditing.testUploadResult"
                                   success-text="alerts:success.success"
                                   fail-text="alerts:error.fail"></result-widget>
                </div>
            </div>
        </div>
    </div>
</div>