<page-header page-title="page_head.log"></page-header>

<div class="wrapper wrapper-content animated fadeInRight">
    <small class="btn btn-link m-b" ui-sref="home"><i class="fa fa-arrow-left"></i> Voltar para o site</small>

    <div class="ibox">
        <div class="ibox-title">
            <h5 class="m-b" ng-i18n="page_head.log"></h5>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal" ng-submit="viewModel.functions.searchFilter()">
                <div class="form-group">
                    <label class="col-xs-2 control-label" ng-i18n="commons.filter_result"></label>
                    <div class="col-xs-4 b-r">
                        <div class="input-group">
                            <input type="text" ng-i18n-placeholder="label.filter" class="input form-control" ng-model="filter.$">
                            <span class="input-group-addon"> <i class="fa fa-search"></i></span>
                        </div>
                    </div>


                    <label class="col-xs-2 control-label" ng-i18n="label.date"></label>
                    <div class="col-xs-2">
                        <input type="text" class="form-control"
                               date-range-picker ng-model="viewModel.filter.date"
                               options="viewModel.dateOptions" />
                    </div>
                    <div class="col-xs-2"><button type="submit" class="btn btn-primary btn-block" ng-i18n="page.log.search"></button></div>
                </div>
            </form>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th ng-i18n="label.date" style="width: 150px;"></th>
                        <th ng-i18n="label.log"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in viewModel.listItems | filter: q">
                        <td>
                            <span ng-moment="item.Date" format-from="YYYY-MM-DD HH:mm:ss,SSS" format="LTS"></span>
                            <span ng-moment="item.Date" format-from="YYYY-MM-DD HH:mm:ss,SSS" format="L"></span>
                        </td>
                        <td ng-bind-html="item.Log | html"></td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix" ng-if="!viewModel.listItems || !viewModel.listItems.length">
                <h3 class="well col-xs-4 col-xs-pull-4 col-xs-push-4 text-center gray-bg p-md b-r-md m-b-lg text-muted block">
                    <i class="fa fa-exclamation-circle"></i>
                    <span ng-if="viewModel.listItems" ng-i18n="commons.no_data_show" class="ng-binding ng-isolate-scope"></span>
                    <span ng-if="viewModel.listItems === null" ng-i18n="commons.no_data_returned" class="ng-binding ng-isolate-scope"></span>
                </h3>
            </div>
        </div>
    </div>
</div>