<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div ng-style="!!exception ? {'padding-top': '0'} : {}" class="middle-box text-center animated fadeInDown" style="margin-top: 0;">
                <h1>500</h1>
                <h2 class="font-bold" ng-i18n="page.error.500_title"></h2>
                <div class="error-desc" ng-i18n="page.error.500_desc"></div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="!!exception">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <p>
                    <b>Usuário:</b> {{exception.UserName}}<br />
                    <b>Controller:</b> {{exception.ControllerName}}<br />
                    <b>Action:</b> {{exception.ActionName}}<br />
                    <b>StackTrace:</b> {{exception.ExceptionStackTrace}}<br />
                    <b>Source:</b> {{exception.ExceptionSource}}<br />
                </p>
                <p ng-if="!!exception.InnerException">
                    <b>Inner Exception</b><br />
                    <b>Message:</b> {{exception.InnerException.Message}}<br />
                    <b>StackTrace:</b> {{exception.ExceptionStackTrace}}<br />
                    <b>Source:</b> {{exception.ExceptionSource}}<br />
                </p>
            </div>
        </div>
    </div>
</div>
