/*
 *   Custom skin
 *   SKIN ATLAS
*/
.skin-atlas .minimalize-styl-2 {
  margin: 14px 5px 5px 30px; }

.skin-atlas .navbar-top-links li:last-child {
  margin-right: 30px; }

.skin-atlas .navbar-header {
  width: 600px; }

.skin-atlas #big-app-name {
  display: block;
  margin-top: 10px; }
  .skin-atlas #big-app-name:first-child {
    /*margin-left: 10px;*/ }

.skin-atlas #app-name {
  display: none; }
  .skin-atlas #app-name:first-child {
    margin-left: 10px; }

.skin-atlas .title-system {
  font-size: 25px;
  color: #dc0000;
  margin-left: 10px; }

.skin-atlas .subtitle-system {
  font-size: 20px;
  font-weight: 500;
  color: #676a6c;
  margin: 10px 0 0 10px; }

.skin-atlas.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px; }

.skin-atlas .spin-icon {
  background: #666666 !important; }

.skin-atlas .nav-header {
  background: #FFF; }

.skin-atlas.mini-navbar .nav-header {
  background: #FFF;
  height: 0; }

.skin-atlas.mini-navbar .nav-second-level {
  background: #EEE;
  color: #000; }

.skin-atlas .breadcrumb {
  background: transparent; }

.skin-atlas .page-heading {
  background-color: #FFF;
  border: 0 solid #DC0000 !important;
  border-width: 1px 0 !important;
  padding-bottom: 10px; }
  .skin-atlas .page-heading h2 {
    color: #DC0000;
    margin-bottom: 10px; }

.skin-atlas .nav > li.active {
  background: #898989; }

.skin-atlas .nav > li > a {
  color: #000; }

.skin-atlas .nav > li.active > a {
  color: #fff; }

.skin-atlas .navbar-minimalize {
  background: #666666;
  border-color: #666666; }

body.skin-atlas {
  background: #FFF; }

.skin-atlas .navbar-static-top {
  background: #f3f4f4; }

.skin-atlas .dashboard-header {
  background: transparent;
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 10px 30px; }

.fixed-nav.skin-atlas .navbar-fixed-top {
  background: #fff; }

.skin-atlas .wrapper-content {
  padding: 20px 10px 40px; }

.skin-atlas #page-wrapper {
  background: #f9f9f9; }

.skin-atlas .nav > li.active {
  border-left: 4px solid #DC0000; }

.skin-atlas .nav-header {
  padding: 5px 25px 0 25px; }

.skin-atlas .nav-header a.dropdown-toggle {
  color: #fff;
  margin-top: 10px; }

.skin-atlas .nav-header a.dropdown-toggle .text-muted {
  color: #fff;
  opacity: 0.8; }

.skin-atlas .profile-element {
  text-align: center; }

.skin-atlas .img-circle {
  border-radius: 5px; }

.skin-atlas .navbar-default .nav > li > a:hover, .skin-atlas .navbar-default .nav > li > a:focus {
  background: #bfbfbf;
  color: #fff; }

.skin-atlas .nav.nav-tabs > li.active > a {
  color: #555; }

.skin-atlas .nav.nav-tabs > li.active {
  background: transparent; }

/*
 *   SKIN Custom - Atlas
*/
.skin-atlas #big-app-name {
  display: block; }

/* SET COLORS */
.skin-atlas .label-primary, .skin-atlas .badge-primary {
  background-color: #666666; }

.skin-atlas .panel-primary {
  border-color: #666666; }

.skin-atlas .panel-primary > .panel-heading {
  background-color: #666666;
  border-color: #666666; }

.skin-atlas .progress-bar.btn-primary {
  background-color: #666666; }

.skin-atlas .toastr-primary {
  background-color: #666666; }

.skin-atlas .text-primary {
  color: #666666; }

.skin-atlas .btn-primary.btn-outline {
  color: #666666;
  background-color: transparent; }
  .skin-atlas .btn-primary.btn-outline:hover, .skin-atlas .btn-primary.btn-outline:focus, .skin-atlas .btn-primary.btn-outline:active, .skin-atlas .btn-primary.btn-outline.active, .skin-atlas .btn-primary.btn-outline:active:focus, .skin-atlas .btn-primary.btn-outline:active:hover, .skin-atlas .btn-primary.btn-outline.active:hover, .skin-atlas .btn-primary.btn-outline.active:focus {
    background-color: #666666;
    color: #FFF; }

.skin-atlas .btn-primary {
  background-color: #666666;
  border-color: #666666;
  color: #FFFFFF; }

.skin-atlas .btn-primary:hover, .skin-atlas .btn-primary:focus, .skin-atlas .btn-primary:active, .skin-atlas .btn-primary.active, .skin-atlas .open .dropdown-toggle.btn-primary, .skin-atlas .btn-primary:active:focus, .skin-atlas .btn-primary:active:hover, .skin-atlas .btn-primary.active:hover, .skin-atlas .btn-primary.active:focus {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
  color: #FFFFFF; }

.skin-atlas .btn-primary.disabled, .skin-atlas .btn-primary.disabled:hover, .skin-atlas .btn-primary.disabled:focus, .skin-atlas .btn-primary.disabled:active, .skin-atlas .btn-primary.disabled.active, .skin-atlas .btn-primary[disabled], .skin-atlas .btn-primary[disabled]:hover, .skin-atlas .btn-primary[disabled]:focus, .skin-atlas .btn-primary[disabled]:active, .skin-atlas .btn-primary.active[disabled], .skin-atlas fieldset[disabled] .btn-primary, .skin-atlas fieldset[disabled] .btn-primary:hover, .skin-atlas fieldset[disabled] .btn-primary:focus, .skin-atlas fieldset[disabled] .btn-primary:active, .skin-atlas fieldset[disabled] .btn-primary.active {
  background-color: #707070;
  border-color: #707070;
  color: #FFF; }

.skin-atlas button.btn-primary.dim {
  box-shadow: inset 0 0 0 #575757, 0 5px 0 0 #575757, 0 10px 5px #999; }

.skin-atlas button.btn-primary.dim:active {
  box-shadow: inset 0 0 0 #575757, 0 2px 0 0 #575757, 0 5px 3px #999; }

.skin-atlas .branding {
  background-color: #666666; }

.skin-atlas .progress-bar {
  background-color: #666666; }

.skin-atlas .btn-link:hover, .skin-atlas .btn-link:focus, .skin-atlas .btn-link:active, .skin-atlas .btn-link.active, .skin-atlas .open .dropdown-toggle.btn-link {
  color: #666666; }

.skin-atlas .onoffswitch-label {
  border: 2px solid #666666; }

.skin-atlas .onoffswitch-inner:before {
  background-color: #666666; }

.skin-atlas .onoffswitch-switch {
  border-color: #666666; }

.skin-atlas a.list-group-item.active, .skin-atlas a.list-group-item.active:hover, .skin-atlas a.list-group-item.active:focus {
  background-color: #666666;
  border-color: #666666; }

.skin-atlas .form-control:focus, .skin-atlas .single-line:focus {
  border-color: #666666 !important; }

.skin-atlas .picklist {
  margin-top: 10px; }
  .skin-atlas .picklist .picklist-list, .skin-atlas .picklist .picklist-buttons {
    float: left;
    height: 100%; }
  .skin-atlas .picklist .picklist-list .list-group .list-group-item.active {
    background-color: #666666;
    border-color: #595959; }

.skin-atlas .checkbox-primary input[type="checkbox"]:checked + label::before,
.skin-atlas .checkbox-primary input[type="checkbox"]:indeterminate + label::before {
  background-color: #666666;
  border-color: #666666; }

.skin-atlas .checkbox-primary input[type="checkbox"]:checked + label::after,
.skin-atlas .checkbox-primary input[type="checkbox"]:indeterminate + label::after {
  color: #fff; }

.skin-atlas .radio-primary input[type="radio"] + label::after {
  background-color: #666666; }

.skin-atlas .radio-primary input[type="radio"]:checked + label::before {
  border-color: #666666; }

.skin-atlas .radio-primary input[type="radio"]:checked + label::after {
  background-color: #666666; }

.skin-atlas .spinner-primary .sk-shape {
  background-color: #666666 !important; }

.skin-atlas .label-success, .skin-atlas .badge-success {
  background-color: #1ab394; }

.skin-atlas .panel-success {
  border-color: #1ab394; }

.skin-atlas .panel-success > .panel-heading {
  background-color: #1ab394;
  border-color: #1ab394; }

.skin-atlas .progress-bar.btn-success {
  background-color: #1ab394; }

.skin-atlas .toastr-success {
  background-color: #1ab394; }

.skin-atlas .text-success {
  color: #1ab394; }

.skin-atlas .btn-success.btn-outline {
  color: #1ab394;
  background-color: transparent; }
  .skin-atlas .btn-success.btn-outline:hover, .skin-atlas .btn-success.btn-outline:focus, .skin-atlas .btn-success.btn-outline:active, .skin-atlas .btn-success.btn-outline.active, .skin-atlas .btn-success.btn-outline:active:focus, .skin-atlas .btn-success.btn-outline:active:hover, .skin-atlas .btn-success.btn-outline.active:hover, .skin-atlas .btn-success.btn-outline.active:focus {
    background-color: #1ab394;
    color: #FFF; }

.skin-atlas .btn-success {
  background-color: #1ab394;
  border-color: #1ab394;
  color: #FFFFFF; }

.skin-atlas .btn-success:hover, .skin-atlas .btn-success:focus, .skin-atlas .btn-success:active, .skin-atlas .btn-success.active, .skin-atlas .open .dropdown-toggle.btn-success, .skin-atlas .btn-success:active:focus, .skin-atlas .btn-success:active:hover, .skin-atlas .btn-success.active:hover, .skin-atlas .btn-success.active:focus {
  background-color: #18a689;
  border-color: #18a689;
  color: #FFFFFF; }

.skin-atlas .btn-success.disabled, .skin-atlas .btn-success.disabled:hover, .skin-atlas .btn-success.disabled:focus, .skin-atlas .btn-success.disabled:active, .skin-atlas .btn-success.disabled.active, .skin-atlas .btn-success[disabled], .skin-atlas .btn-success[disabled]:hover, .skin-atlas .btn-success[disabled]:focus, .skin-atlas .btn-success[disabled]:active, .skin-atlas .btn-success.active[disabled], .skin-atlas fieldset[disabled] .btn-success, .skin-atlas fieldset[disabled] .btn-success:hover, .skin-atlas fieldset[disabled] .btn-success:focus, .skin-atlas fieldset[disabled] .btn-success:active, .skin-atlas fieldset[disabled] .btn-success.active {
  background-color: #1dc5a3;
  border-color: #1dc5a3;
  color: #FFF; }

.skin-atlas button.btn-success.dim {
  box-shadow: inset 0 0 0 #16987e, 0 5px 0 0 #16987e, 0 10px 5px #999; }

.skin-atlas button.btn-success.dim:active {
  box-shadow: inset 0 0 0 #16987e, 0 2px 0 0 #16987e, 0 5px 3px #999; }

.skin-atlas .checkbox-success input[type="checkbox"]:checked + label::before,
.skin-atlas .checkbox-success input[type="checkbox"]:indeterminate + label::before {
  background-color: #1ab394;
  border-color: #1ab394; }

.skin-atlas .checkbox-success input[type="checkbox"]:checked + label::after,
.skin-atlas .checkbox-success input[type="checkbox"]:indeterminate + label::after {
  color: #fff; }

.skin-atlas .radio-success input[type="radio"] + label::after {
  background-color: #1ab394; }

.skin-atlas .radio-success input[type="radio"]:checked + label::before {
  border-color: #1ab394; }

.skin-atlas .radio-success input[type="radio"]:checked + label::after {
  background-color: #1ab394; }

.skin-atlas .spinner-success .sk-shape {
  background-color: #1ab394 !important; }

.skin-atlas .btn-primary:hover, .skin-atlas .btn-primary:active, .skin-atlas .btn-primary:focus {
  border-color: #000; }

.skin-atlas a.fa {
  color: #666666; }
  .skin-atlas a.fa:hover {
    color: black; }

.skin-atlas .btn-link:hover {
  color: black; }

