/*
 *   Custom skin
 *   SKIN SANTANDER
*/
body.skin-santander {
  background-color: #f00; }

.skin-santander .minimalize-styl-2 {
  margin: 10px 5px 5px 25px;
  font-size: 20px; }

.skin-santander .navbar-top-links li:last-child {
  margin-right: 25px; }

.skin-santander .spin-icon {
  background: #f00 !important; }

.skin-santander.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px; }

.skin-santander .page-heading {
  border: none;
  color: #f00;
  box-shadow: 0 1px 2px #D1DADE; }

.skin-santander .logo-element {
  padding: 17px 0; }

.skin-santander.mini-navbar .nav-header {
  background: #f00; }

.skin-santander .navbar-minimalize.btn-primary {
  background: #f00 !important;
  border-color: #f00 !important; }
  .skin-santander .navbar-minimalize.btn-primary:hover, .skin-santander .navbar-minimalize.btn-primary:active, .skin-santander .navbar-minimalize.btn-primary:focus {
    background: #cc0000 !important;
    border-color: #cc0000 !important; }

body.skin-santander #wrapper {
  background-color: #DDD; }

.skin-santander .navbar-static-top {
  background: #f00; }

.fixed-nav.skin-santander .navbar-fixed-top {
  background: #f00;
  border-bottom: none !important; }

.skin-santander .dashboard-header {
  background: rgba(255, 255, 255, 0.4);
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 20px 30px; }

.skin-santander .wrapper-content {
  padding: 15px 0; }

.skin-santander .dashoard-1 .wrapper-content {
  padding: 0 30px 25px 30px; }

.skin-santander .ibox {
  box-shadow: 0 0 2px #D1DADE, 1px 1px 2px #D1DADE;
  border-radius: 3px;
  margin: 5px 5px 45px; }
  .skin-santander .ibox > :last-child {
    border: none;
    border-radius: 0 0 3px 3px !important; }
  .skin-santander .ibox > :first-child {
    border: none;
    border-radius: 3px 3px 0 0 !important;
    border-top: 2px solid #f00;
    border-bottom: 1px solid #f3f3f4; }

.skin-santander .ibox-title {
  /*background: rgba(255, 255, 255, 0.7);*/
  border: none;
  margin-bottom: 1px;
  /*background-color: $gray2;*/
  color: #f00; }

.skin-santander #page-wrapper {
  background-color: #fff; }

.skin-santander .nav-header .dropdown .title {
  color: white;
  font-size: 25px;
  font-weight: 600; }

.skin-santander .nav-header a.dropdown-toggle {
  color: #edf6ff;
  margin-top: 10px; }

.skin-santander .nav-header a.dropdown-toggle .text-muted {
  color: #edf6ff;
  opacity: 0.8; }

.skin-santander .img-circle {
  border-radius: 10px; }

.skin-santander .nav.navbar-top-links > li > a:hover, .skin-santander .nav.navbar-top-links > li > a:focus {
  background: #e60000; }

.skin-santander .page-heading {
  padding-top: 1px;
  padding-bottom: 2px; }
  .skin-santander .page-heading .breadcrumb {
    display: none; }
  .skin-santander .page-heading * {
    font-weight: 400; }

.skin-santander .nav > li.active > a {
  color: #CCC; }

.skin-santander #side-menu > li > a .fa.arrow {
  color: #f00; }

.skin-santander .nav .nav-header {
  padding: 20px;
  background: url() no-repeat #f00 12px 20px; }

.skin-santander .nav > li > a {
  color: #666; }
  .skin-santander .nav > li > a:hover, .skin-santander .nav > li > a:focus {
    color: #CCC;
    background-color: #666; }

.skin-santander .nav > li.active {
  background: #666;
  border-left: 4px solid #f00; }
  .skin-santander .nav > li.active > a {
    color: #CCC;
    background-color: #666; }

.skin-santander .nav > li .nav-second-level > li > a {
  color: #DDD; }
  .skin-santander .nav > li .nav-second-level > li > a:hover, .skin-santander .nav > li .nav-second-level > li > a:active {
    background: #737373; }

.skin-santander.mini-navbar .nav .nav-header {
  padding: 0;
  background: url() no-repeat #f00 12px 20px; }
  .skin-santander.mini-navbar .nav .nav-header .logo-element {
    padding: 5px 0; }

.skin-santander .profile-element .img {
  display: inline-flex; }

.skin-santander .profile-element a.dropdown-toggle {
  display: inline-flex;
  background-color: transparent;
  margin-left: 5px; }

.skin-santander .nav.navbar-top-links .open > a,
.skin-santander .nav.navbar-top-links .open > a:hover,
.skin-santander .nav.navbar-top-links .open > a:focus {
  background: #e60000; }

.skin-santander .nav.navbar-right > li > a {
  color: #FFF; }

/* SET COLORS */
.skin-santander {
  /**/ }
  .skin-santander .label-primary, .skin-santander .badge-primary {
    background-color: #f00; }
  .skin-santander .panel-primary {
    border-color: #f00; }
  .skin-santander .panel-primary > .panel-heading {
    background-color: #f00;
    border-color: #f00; }
  .skin-santander .progress-bar.btn-primary {
    background-color: #f00; }
  .skin-santander .toastr-primary {
    background-color: #f00; }
  .skin-santander .text-primary {
    color: #f00; }
  .skin-santander .btn-primary.btn-outline {
    color: #f00;
    background-color: transparent; }
    .skin-santander .btn-primary.btn-outline:hover, .skin-santander .btn-primary.btn-outline:focus, .skin-santander .btn-primary.btn-outline:active, .skin-santander .btn-primary.btn-outline.active, .skin-santander .btn-primary.btn-outline:active:focus, .skin-santander .btn-primary.btn-outline:active:hover, .skin-santander .btn-primary.btn-outline.active:hover, .skin-santander .btn-primary.btn-outline.active:focus {
      background-color: #f00;
      color: #FFF; }
  .skin-santander .btn-primary {
    background-color: #f00;
    border-color: #f00;
    color: #FFFFFF; }
  .skin-santander .btn-primary:hover, .skin-santander .btn-primary:focus, .skin-santander .btn-primary:active, .skin-santander .btn-primary.active, .skin-santander .open .dropdown-toggle.btn-primary, .skin-santander .btn-primary:active:focus, .skin-santander .btn-primary:active:hover, .skin-santander .btn-primary.active:hover, .skin-santander .btn-primary.active:focus {
    background-color: #f00000;
    border-color: #f00000;
    color: #FFFFFF; }
  .skin-santander .btn-primary.disabled, .skin-santander .btn-primary.disabled:hover, .skin-santander .btn-primary.disabled:focus, .skin-santander .btn-primary.disabled:active, .skin-santander .btn-primary.disabled.active, .skin-santander .btn-primary[disabled], .skin-santander .btn-primary[disabled]:hover, .skin-santander .btn-primary[disabled]:focus, .skin-santander .btn-primary[disabled]:active, .skin-santander .btn-primary.active[disabled], .skin-santander fieldset[disabled] .btn-primary, .skin-santander fieldset[disabled] .btn-primary:hover, .skin-santander fieldset[disabled] .btn-primary:focus, .skin-santander fieldset[disabled] .btn-primary:active, .skin-santander fieldset[disabled] .btn-primary.active {
    background-color: #ff1414;
    border-color: #ff1414;
    color: #FFF; }
  .skin-santander button.btn-primary.dim {
    box-shadow: inset 0 0 0 #e00000, 0 5px 0 0 #e00000, 0 10px 5px #999; }
  .skin-santander button.btn-primary.dim:active {
    box-shadow: inset 0 0 0 #e00000, 0 2px 0 0 #e00000, 0 5px 3px #999; }
  .skin-santander .branding {
    background-color: #f00; }
  .skin-santander .progress-bar {
    background-color: #f00; }
  .skin-santander .btn-link:hover, .skin-santander .btn-link:focus, .skin-santander .btn-link:active, .skin-santander .btn-link.active, .skin-santander .open .dropdown-toggle.btn-link {
    color: #f00; }
  .skin-santander .onoffswitch-label {
    border: 2px solid #f00; }
  .skin-santander .onoffswitch-inner:before {
    background-color: #f00; }
  .skin-santander .onoffswitch-switch {
    border-color: #f00; }
  .skin-santander a.list-group-item.active, .skin-santander a.list-group-item.active:hover, .skin-santander a.list-group-item.active:focus {
    background-color: #f00;
    border-color: #f00; }
  .skin-santander .form-control:focus, .skin-santander .single-line:focus {
    border-color: #f00 !important; }
  .skin-santander .picklist {
    margin-top: 10px; }
    .skin-santander .picklist .picklist-list, .skin-santander .picklist .picklist-buttons {
      float: left;
      height: 100%; }
    .skin-santander .picklist .picklist-list .list-group .list-group-item.active {
      background-color: #f00;
      border-color: #e60000; }
  .skin-santander .checkbox-primary input[type="checkbox"]:checked + label::before,
  .skin-santander .checkbox-primary input[type="checkbox"]:indeterminate + label::before {
    background-color: #f00;
    border-color: #f00; }
  .skin-santander .checkbox-primary input[type="checkbox"]:checked + label::after,
  .skin-santander .checkbox-primary input[type="checkbox"]:indeterminate + label::after {
    color: #fff; }
  .skin-santander .radio-primary input[type="radio"] + label::after {
    background-color: #f00; }
  .skin-santander .radio-primary input[type="radio"]:checked + label::before {
    border-color: #f00; }
  .skin-santander .radio-primary input[type="radio"]:checked + label::after {
    background-color: #f00; }
  .skin-santander .spinner-primary .sk-shape {
    background-color: #f00 !important; }
  .skin-santander .label-success, .skin-santander .badge-success {
    background-color: #093; }
  .skin-santander .panel-success {
    border-color: #093; }
  .skin-santander .panel-success > .panel-heading {
    background-color: #093;
    border-color: #093; }
  .skin-santander .progress-bar.btn-success {
    background-color: #093; }
  .skin-santander .toastr-success {
    background-color: #093; }
  .skin-santander .text-success {
    color: #093; }
  .skin-santander .btn-success.btn-outline {
    color: #093;
    background-color: transparent; }
    .skin-santander .btn-success.btn-outline:hover, .skin-santander .btn-success.btn-outline:focus, .skin-santander .btn-success.btn-outline:active, .skin-santander .btn-success.btn-outline.active, .skin-santander .btn-success.btn-outline:active:focus, .skin-santander .btn-success.btn-outline:active:hover, .skin-santander .btn-success.btn-outline.active:hover, .skin-santander .btn-success.btn-outline.active:focus {
      background-color: #093;
      color: #FFF; }
  .skin-santander .btn-success {
    background-color: #093;
    border-color: #093;
    color: #FFFFFF; }
  .skin-santander .btn-success:hover, .skin-santander .btn-success:focus, .skin-santander .btn-success:active, .skin-santander .btn-success.active, .skin-santander .open .dropdown-toggle.btn-success, .skin-santander .btn-success:active:focus, .skin-santander .btn-success:active:hover, .skin-santander .btn-success.active:hover, .skin-santander .btn-success.active:focus {
    background-color: #008a2e;
    border-color: #008a2e;
    color: #FFFFFF; }
  .skin-santander .btn-success.disabled, .skin-santander .btn-success.disabled:hover, .skin-santander .btn-success.disabled:focus, .skin-santander .btn-success.disabled:active, .skin-santander .btn-success.disabled.active, .skin-santander .btn-success[disabled], .skin-santander .btn-success[disabled]:hover, .skin-santander .btn-success[disabled]:focus, .skin-santander .btn-success[disabled]:active, .skin-santander .btn-success.active[disabled], .skin-santander fieldset[disabled] .btn-success, .skin-santander fieldset[disabled] .btn-success:hover, .skin-santander fieldset[disabled] .btn-success:focus, .skin-santander fieldset[disabled] .btn-success:active, .skin-santander fieldset[disabled] .btn-success.active {
    background-color: #00ad3a;
    border-color: #00ad3a;
    color: #FFF; }
  .skin-santander button.btn-success.dim {
    box-shadow: inset 0 0 0 #007a29, 0 5px 0 0 #007a29, 0 10px 5px #999; }
  .skin-santander button.btn-success.dim:active {
    box-shadow: inset 0 0 0 #007a29, 0 2px 0 0 #007a29, 0 5px 3px #999; }
  .skin-santander .checkbox-success input[type="checkbox"]:checked + label::before,
  .skin-santander .checkbox-success input[type="checkbox"]:indeterminate + label::before {
    background-color: #093;
    border-color: #093; }
  .skin-santander .checkbox-success input[type="checkbox"]:checked + label::after,
  .skin-santander .checkbox-success input[type="checkbox"]:indeterminate + label::after {
    color: #fff; }
  .skin-santander .radio-success input[type="radio"] + label::after {
    background-color: #093; }
  .skin-santander .radio-success input[type="radio"]:checked + label::before {
    border-color: #093; }
  .skin-santander .radio-success input[type="radio"]:checked + label::after {
    background-color: #093; }
  .skin-santander .spinner-success .sk-shape {
    background-color: #093 !important; }
  .skin-santander .label-warning, .skin-santander .badge-warning {
    background-color: #F93; }
  .skin-santander .panel-warning {
    border-color: #F93; }
  .skin-santander .panel-warning > .panel-heading {
    background-color: #F93;
    border-color: #F93; }
  .skin-santander .progress-bar.btn-warning {
    background-color: #F93; }
  .skin-santander .toastr-warning {
    background-color: #F93; }
  .skin-santander .text-warning {
    color: #F93; }
  .skin-santander .btn-warning.btn-outline {
    color: #F93;
    background-color: transparent; }
    .skin-santander .btn-warning.btn-outline:hover, .skin-santander .btn-warning.btn-outline:focus, .skin-santander .btn-warning.btn-outline:active, .skin-santander .btn-warning.btn-outline.active, .skin-santander .btn-warning.btn-outline:active:focus, .skin-santander .btn-warning.btn-outline:active:hover, .skin-santander .btn-warning.btn-outline.active:hover, .skin-santander .btn-warning.btn-outline.active:focus {
      background-color: #F93;
      color: #FFF; }
  .skin-santander .btn-warning {
    background-color: #F93;
    border-color: #F93;
    color: #FFFFFF; }
  .skin-santander .btn-warning:hover, .skin-santander .btn-warning:focus, .skin-santander .btn-warning:active, .skin-santander .btn-warning.active, .skin-santander .open .dropdown-toggle.btn-warning, .skin-santander .btn-warning:active:focus, .skin-santander .btn-warning:active:hover, .skin-santander .btn-warning.active:hover, .skin-santander .btn-warning.active:focus {
    background-color: #ff9124;
    border-color: #ff9124;
    color: #FFFFFF; }
  .skin-santander .btn-warning.disabled, .skin-santander .btn-warning.disabled:hover, .skin-santander .btn-warning.disabled:focus, .skin-santander .btn-warning.disabled:active, .skin-santander .btn-warning.disabled.active, .skin-santander .btn-warning[disabled], .skin-santander .btn-warning[disabled]:hover, .skin-santander .btn-warning[disabled]:focus, .skin-santander .btn-warning[disabled]:active, .skin-santander .btn-warning.active[disabled], .skin-santander fieldset[disabled] .btn-warning, .skin-santander fieldset[disabled] .btn-warning:hover, .skin-santander fieldset[disabled] .btn-warning:focus, .skin-santander fieldset[disabled] .btn-warning:active, .skin-santander fieldset[disabled] .btn-warning.active {
    background-color: #ffa347;
    border-color: #ffa347;
    color: #FFF; }
  .skin-santander button.btn-warning.dim {
    box-shadow: inset 0 0 0 #ff8a14, 0 5px 0 0 #ff8a14, 0 10px 5px #999; }
  .skin-santander button.btn-warning.dim:active {
    box-shadow: inset 0 0 0 #ff8a14, 0 2px 0 0 #ff8a14, 0 5px 3px #999; }
  .skin-santander .checkbox-warning input[type="checkbox"]:checked + label::before,
  .skin-santander .checkbox-warning input[type="checkbox"]:indeterminate + label::before {
    background-color: #F93;
    border-color: #F93; }
  .skin-santander .checkbox-warning input[type="checkbox"]:checked + label::after,
  .skin-santander .checkbox-warning input[type="checkbox"]:indeterminate + label::after {
    color: #fff; }
  .skin-santander .radio-warning input[type="radio"] + label::after {
    background-color: #F93; }
  .skin-santander .radio-warning input[type="radio"]:checked + label::before {
    border-color: #F93; }
  .skin-santander .radio-warning input[type="radio"]:checked + label::after {
    background-color: #F93; }
  .skin-santander .spinner-warning .sk-shape {
    background-color: #F93 !important; }
  .skin-santander .label-danger, .skin-santander .badge-danger {
    background-color: #111; }
  .skin-santander .panel-danger {
    border-color: #111; }
  .skin-santander .panel-danger > .panel-heading {
    background-color: #111;
    border-color: #111; }
  .skin-santander .progress-bar.btn-danger {
    background-color: #111; }
  .skin-santander .toastr-danger {
    background-color: #111; }
  .skin-santander .text-danger {
    color: #111; }
  .skin-santander .btn-danger.btn-outline {
    color: #111;
    background-color: transparent; }
    .skin-santander .btn-danger.btn-outline:hover, .skin-santander .btn-danger.btn-outline:focus, .skin-santander .btn-danger.btn-outline:active, .skin-santander .btn-danger.btn-outline.active, .skin-santander .btn-danger.btn-outline:active:focus, .skin-santander .btn-danger.btn-outline:active:hover, .skin-santander .btn-danger.btn-outline.active:hover, .skin-santander .btn-danger.btn-outline.active:focus {
      background-color: #111;
      color: #FFF; }
  .skin-santander .btn-danger {
    background-color: #111;
    border-color: #111;
    color: #FFFFFF; }
  .skin-santander .btn-danger:hover, .skin-santander .btn-danger:focus, .skin-santander .btn-danger:active, .skin-santander .btn-danger.active, .skin-santander .open .dropdown-toggle.btn-danger, .skin-santander .btn-danger:active:focus, .skin-santander .btn-danger:active:hover, .skin-santander .btn-danger.active:hover, .skin-santander .btn-danger.active:focus {
    background-color: #090909;
    border-color: #090909;
    color: #FFFFFF; }
  .skin-santander .btn-danger.disabled, .skin-santander .btn-danger.disabled:hover, .skin-santander .btn-danger.disabled:focus, .skin-santander .btn-danger.disabled:active, .skin-santander .btn-danger.disabled.active, .skin-santander .btn-danger[disabled], .skin-santander .btn-danger[disabled]:hover, .skin-santander .btn-danger[disabled]:focus, .skin-santander .btn-danger[disabled]:active, .skin-santander .btn-danger.active[disabled], .skin-santander fieldset[disabled] .btn-danger, .skin-santander fieldset[disabled] .btn-danger:hover, .skin-santander fieldset[disabled] .btn-danger:focus, .skin-santander fieldset[disabled] .btn-danger:active, .skin-santander fieldset[disabled] .btn-danger.active {
    background-color: #1b1b1b;
    border-color: #1b1b1b;
    color: #FFF; }
  .skin-santander button.btn-danger.dim {
    box-shadow: inset 0 0 0 #020202, 0 5px 0 0 #020202, 0 10px 5px #999; }
  .skin-santander button.btn-danger.dim:active {
    box-shadow: inset 0 0 0 #020202, 0 2px 0 0 #020202, 0 5px 3px #999; }
  .skin-santander .checkbox-danger input[type="checkbox"]:checked + label::before,
  .skin-santander .checkbox-danger input[type="checkbox"]:indeterminate + label::before {
    background-color: #111;
    border-color: #111; }
  .skin-santander .checkbox-danger input[type="checkbox"]:checked + label::after,
  .skin-santander .checkbox-danger input[type="checkbox"]:indeterminate + label::after {
    color: #fff; }
  .skin-santander .radio-danger input[type="radio"] + label::after {
    background-color: #111; }
  .skin-santander .radio-danger input[type="radio"]:checked + label::before {
    border-color: #111; }
  .skin-santander .radio-danger input[type="radio"]:checked + label::after {
    background-color: #111; }
  .skin-santander .spinner-danger .sk-shape {
    background-color: #111 !important; }
  .skin-santander .label-info, .skin-santander .badge-info {
    background-color: #FD6; }
  .skin-santander .panel-info {
    border-color: #FD6; }
  .skin-santander .panel-info > .panel-heading {
    background-color: #FD6;
    border-color: #FD6; }
  .skin-santander .progress-bar.btn-info {
    background-color: #FD6; }
  .skin-santander .toastr-info {
    background-color: #FD6; }
  .skin-santander .text-info {
    color: #FD6; }
  .skin-santander .btn-info.btn-outline {
    color: #FD6;
    background-color: transparent; }
    .skin-santander .btn-info.btn-outline:hover, .skin-santander .btn-info.btn-outline:focus, .skin-santander .btn-info.btn-outline:active, .skin-santander .btn-info.btn-outline.active, .skin-santander .btn-info.btn-outline:active:focus, .skin-santander .btn-info.btn-outline:active:hover, .skin-santander .btn-info.btn-outline.active:hover, .skin-santander .btn-info.btn-outline.active:focus {
      background-color: #FD6;
      color: #FFF; }
  .skin-santander .btn-info {
    background-color: #FD6;
    border-color: #FD6;
    color: #FFFFFF; }
  .skin-santander .btn-info:hover, .skin-santander .btn-info:focus, .skin-santander .btn-info:active, .skin-santander .btn-info.active, .skin-santander .open .dropdown-toggle.btn-info, .skin-santander .btn-info:active:focus, .skin-santander .btn-info:active:hover, .skin-santander .btn-info.active:hover, .skin-santander .btn-info.active:focus {
    background-color: #ffda57;
    border-color: #ffda57;
    color: #FFFFFF; }
  .skin-santander .btn-info.disabled, .skin-santander .btn-info.disabled:hover, .skin-santander .btn-info.disabled:focus, .skin-santander .btn-info.disabled:active, .skin-santander .btn-info.disabled.active, .skin-santander .btn-info[disabled], .skin-santander .btn-info[disabled]:hover, .skin-santander .btn-info[disabled]:focus, .skin-santander .btn-info[disabled]:active, .skin-santander .btn-info.active[disabled], .skin-santander fieldset[disabled] .btn-info, .skin-santander fieldset[disabled] .btn-info:hover, .skin-santander fieldset[disabled] .btn-info:focus, .skin-santander fieldset[disabled] .btn-info:active, .skin-santander fieldset[disabled] .btn-info.active {
    background-color: #ffe27a;
    border-color: #ffe27a;
    color: #FFF; }
  .skin-santander button.btn-info.dim {
    box-shadow: inset 0 0 0 #ffd647, 0 5px 0 0 #ffd647, 0 10px 5px #999; }
  .skin-santander button.btn-info.dim:active {
    box-shadow: inset 0 0 0 #ffd647, 0 2px 0 0 #ffd647, 0 5px 3px #999; }
  .skin-santander .checkbox-info input[type="checkbox"]:checked + label::before,
  .skin-santander .checkbox-info input[type="checkbox"]:indeterminate + label::before {
    background-color: #FD6;
    border-color: #FD6; }
  .skin-santander .checkbox-info input[type="checkbox"]:checked + label::after,
  .skin-santander .checkbox-info input[type="checkbox"]:indeterminate + label::after {
    color: #fff; }
  .skin-santander .radio-info input[type="radio"] + label::after {
    background-color: #FD6; }
  .skin-santander .radio-info input[type="radio"]:checked + label::before {
    border-color: #FD6; }
  .skin-santander .radio-info input[type="radio"]:checked + label::after {
    background-color: #FD6; }
  .skin-santander .spinner-info .sk-shape {
    background-color: #FD6 !important; }
  .skin-santander .label-red, .skin-santander .badge-red {
    background-color: #f00; }
  .skin-santander .panel-red {
    border-color: #f00; }
  .skin-santander .panel-red > .panel-heading {
    background-color: #f00;
    border-color: #f00; }
  .skin-santander .progress-bar.btn-red {
    background-color: #f00; }
  .skin-santander .toastr-red {
    background-color: #f00; }
  .skin-santander .text-red {
    color: #f00; }
  .skin-santander .btn-red.btn-outline {
    color: #f00;
    background-color: transparent; }
    .skin-santander .btn-red.btn-outline:hover, .skin-santander .btn-red.btn-outline:focus, .skin-santander .btn-red.btn-outline:active, .skin-santander .btn-red.btn-outline.active, .skin-santander .btn-red.btn-outline:active:focus, .skin-santander .btn-red.btn-outline:active:hover, .skin-santander .btn-red.btn-outline.active:hover, .skin-santander .btn-red.btn-outline.active:focus {
      background-color: #f00;
      color: #FFF; }
  .skin-santander .btn-red {
    background-color: #f00;
    border-color: #f00;
    color: #FFFFFF; }
  .skin-santander .btn-red:hover, .skin-santander .btn-red:focus, .skin-santander .btn-red:active, .skin-santander .btn-red.active, .skin-santander .open .dropdown-toggle.btn-red, .skin-santander .btn-red:active:focus, .skin-santander .btn-red:active:hover, .skin-santander .btn-red.active:hover, .skin-santander .btn-red.active:focus {
    background-color: #f00000;
    border-color: #f00000;
    color: #FFFFFF; }
  .skin-santander .btn-red.disabled, .skin-santander .btn-red.disabled:hover, .skin-santander .btn-red.disabled:focus, .skin-santander .btn-red.disabled:active, .skin-santander .btn-red.disabled.active, .skin-santander .btn-red[disabled], .skin-santander .btn-red[disabled]:hover, .skin-santander .btn-red[disabled]:focus, .skin-santander .btn-red[disabled]:active, .skin-santander .btn-red.active[disabled], .skin-santander fieldset[disabled] .btn-red, .skin-santander fieldset[disabled] .btn-red:hover, .skin-santander fieldset[disabled] .btn-red:focus, .skin-santander fieldset[disabled] .btn-red:active, .skin-santander fieldset[disabled] .btn-red.active {
    background-color: #ff1414;
    border-color: #ff1414;
    color: #FFF; }
  .skin-santander button.btn-red.dim {
    box-shadow: inset 0 0 0 #e00000, 0 5px 0 0 #e00000, 0 10px 5px #999; }
  .skin-santander button.btn-red.dim:active {
    box-shadow: inset 0 0 0 #e00000, 0 2px 0 0 #e00000, 0 5px 3px #999; }
  .skin-santander .checkbox-red input[type="checkbox"]:checked + label::before,
  .skin-santander .checkbox-red input[type="checkbox"]:indeterminate + label::before {
    background-color: #f00;
    border-color: #f00; }
  .skin-santander .checkbox-red input[type="checkbox"]:checked + label::after,
  .skin-santander .checkbox-red input[type="checkbox"]:indeterminate + label::after {
    color: #fff; }
  .skin-santander .radio-red input[type="radio"] + label::after {
    background-color: #f00; }
  .skin-santander .radio-red input[type="radio"]:checked + label::before {
    border-color: #f00; }
  .skin-santander .radio-red input[type="radio"]:checked + label::after {
    background-color: #f00; }
  .skin-santander .spinner-red .sk-shape {
    background-color: #f00 !important; }
  .skin-santander .label-blue, .skin-santander .badge-blue {
    background-color: #f00; }
  .skin-santander .panel-blue {
    border-color: #f00; }
  .skin-santander .panel-blue > .panel-heading {
    background-color: #f00;
    border-color: #f00; }
  .skin-santander .progress-bar.btn-blue {
    background-color: #f00; }
  .skin-santander .toastr-blue {
    background-color: #f00; }
  .skin-santander .text-blue {
    color: #f00; }
  .skin-santander .btn-blue.btn-outline {
    color: #f00;
    background-color: transparent; }
    .skin-santander .btn-blue.btn-outline:hover, .skin-santander .btn-blue.btn-outline:focus, .skin-santander .btn-blue.btn-outline:active, .skin-santander .btn-blue.btn-outline.active, .skin-santander .btn-blue.btn-outline:active:focus, .skin-santander .btn-blue.btn-outline:active:hover, .skin-santander .btn-blue.btn-outline.active:hover, .skin-santander .btn-blue.btn-outline.active:focus {
      background-color: #f00;
      color: #FFF; }
  .skin-santander .btn-blue {
    background-color: #f00;
    border-color: #f00;
    color: #FFFFFF; }
  .skin-santander .btn-blue:hover, .skin-santander .btn-blue:focus, .skin-santander .btn-blue:active, .skin-santander .btn-blue.active, .skin-santander .open .dropdown-toggle.btn-blue, .skin-santander .btn-blue:active:focus, .skin-santander .btn-blue:active:hover, .skin-santander .btn-blue.active:hover, .skin-santander .btn-blue.active:focus {
    background-color: #f00000;
    border-color: #f00000;
    color: #FFFFFF; }
  .skin-santander .btn-blue.disabled, .skin-santander .btn-blue.disabled:hover, .skin-santander .btn-blue.disabled:focus, .skin-santander .btn-blue.disabled:active, .skin-santander .btn-blue.disabled.active, .skin-santander .btn-blue[disabled], .skin-santander .btn-blue[disabled]:hover, .skin-santander .btn-blue[disabled]:focus, .skin-santander .btn-blue[disabled]:active, .skin-santander .btn-blue.active[disabled], .skin-santander fieldset[disabled] .btn-blue, .skin-santander fieldset[disabled] .btn-blue:hover, .skin-santander fieldset[disabled] .btn-blue:focus, .skin-santander fieldset[disabled] .btn-blue:active, .skin-santander fieldset[disabled] .btn-blue.active {
    background-color: #ff1414;
    border-color: #ff1414;
    color: #FFF; }
  .skin-santander button.btn-blue.dim {
    box-shadow: inset 0 0 0 #e00000, 0 5px 0 0 #e00000, 0 10px 5px #999; }
  .skin-santander button.btn-blue.dim:active {
    box-shadow: inset 0 0 0 #e00000, 0 2px 0 0 #e00000, 0 5px 3px #999; }
  .skin-santander .checkbox-blue input[type="checkbox"]:checked + label::before,
  .skin-santander .checkbox-blue input[type="checkbox"]:indeterminate + label::before {
    background-color: #f00;
    border-color: #f00; }
  .skin-santander .checkbox-blue input[type="checkbox"]:checked + label::after,
  .skin-santander .checkbox-blue input[type="checkbox"]:indeterminate + label::after {
    color: #fff; }
  .skin-santander .radio-blue input[type="radio"] + label::after {
    background-color: #f00; }
  .skin-santander .radio-blue input[type="radio"]:checked + label::before {
    border-color: #f00; }
  .skin-santander .radio-blue input[type="radio"]:checked + label::after {
    background-color: #f00; }
  .skin-santander .spinner-blue .sk-shape {
    background-color: #f00 !important; }
  .skin-santander .label-green, .skin-santander .badge-green {
    background-color: #093; }
  .skin-santander .panel-green {
    border-color: #093; }
  .skin-santander .panel-green > .panel-heading {
    background-color: #093;
    border-color: #093; }
  .skin-santander .progress-bar.btn-green {
    background-color: #093; }
  .skin-santander .toastr-green {
    background-color: #093; }
  .skin-santander .text-green {
    color: #093; }
  .skin-santander .btn-green.btn-outline {
    color: #093;
    background-color: transparent; }
    .skin-santander .btn-green.btn-outline:hover, .skin-santander .btn-green.btn-outline:focus, .skin-santander .btn-green.btn-outline:active, .skin-santander .btn-green.btn-outline.active, .skin-santander .btn-green.btn-outline:active:focus, .skin-santander .btn-green.btn-outline:active:hover, .skin-santander .btn-green.btn-outline.active:hover, .skin-santander .btn-green.btn-outline.active:focus {
      background-color: #093;
      color: #FFF; }
  .skin-santander .btn-green {
    background-color: #093;
    border-color: #093;
    color: #FFFFFF; }
  .skin-santander .btn-green:hover, .skin-santander .btn-green:focus, .skin-santander .btn-green:active, .skin-santander .btn-green.active, .skin-santander .open .dropdown-toggle.btn-green, .skin-santander .btn-green:active:focus, .skin-santander .btn-green:active:hover, .skin-santander .btn-green.active:hover, .skin-santander .btn-green.active:focus {
    background-color: #008a2e;
    border-color: #008a2e;
    color: #FFFFFF; }
  .skin-santander .btn-green.disabled, .skin-santander .btn-green.disabled:hover, .skin-santander .btn-green.disabled:focus, .skin-santander .btn-green.disabled:active, .skin-santander .btn-green.disabled.active, .skin-santander .btn-green[disabled], .skin-santander .btn-green[disabled]:hover, .skin-santander .btn-green[disabled]:focus, .skin-santander .btn-green[disabled]:active, .skin-santander .btn-green.active[disabled], .skin-santander fieldset[disabled] .btn-green, .skin-santander fieldset[disabled] .btn-green:hover, .skin-santander fieldset[disabled] .btn-green:focus, .skin-santander fieldset[disabled] .btn-green:active, .skin-santander fieldset[disabled] .btn-green.active {
    background-color: #00ad3a;
    border-color: #00ad3a;
    color: #FFF; }
  .skin-santander button.btn-green.dim {
    box-shadow: inset 0 0 0 #007a29, 0 5px 0 0 #007a29, 0 10px 5px #999; }
  .skin-santander button.btn-green.dim:active {
    box-shadow: inset 0 0 0 #007a29, 0 2px 0 0 #007a29, 0 5px 3px #999; }
  .skin-santander .checkbox-green input[type="checkbox"]:checked + label::before,
  .skin-santander .checkbox-green input[type="checkbox"]:indeterminate + label::before {
    background-color: #093;
    border-color: #093; }
  .skin-santander .checkbox-green input[type="checkbox"]:checked + label::after,
  .skin-santander .checkbox-green input[type="checkbox"]:indeterminate + label::after {
    color: #fff; }
  .skin-santander .radio-green input[type="radio"] + label::after {
    background-color: #093; }
  .skin-santander .radio-green input[type="radio"]:checked + label::before {
    border-color: #093; }
  .skin-santander .radio-green input[type="radio"]:checked + label::after {
    background-color: #093; }
  .skin-santander .spinner-green .sk-shape {
    background-color: #093 !important; }
  .skin-santander .pace .pace-progress {
    background: white; }

