<log4net>

  <root>
    <level value="ALL" />
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>

  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="c:\temp\ITLab.TreinamentoWebAPI\log\" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <param name="RollingStyle" value="Date" />
    <param name="DatePattern" value="yyyy/MM/dd'.txt'" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1024KB" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%thread] %-5level %logger %newline%message%newline" />
    </layout>
    <!--<threshold value="Error" />-->
  </appender>

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-6p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />
    </layout>
    <!--<threshold value="ALL" />-->
  </appender>

</log4net>