<page-header page-title="page_head.user" breadcrumb="['nav.security', 'nav.users', 'label.edit']"></page-header>

<div class="wrapper wrapper-content animated fadeInLeft">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5><span ng-i18n="label.user"></span> (<span ng-bind="viewModel.itemEditing.Name"></span>)</h5>
                </div>
                <div class="ibox-content" ng-init="bd=1; ad=2">
                    <form ng-submit="viewModel.functions.saveItem()">
                        <div class="row" ng-hide="viewModel.itemEditing.AuthenticationType=='AD'">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label" ng-i18n="page.user.last_pass_change"></label>
                                    <span class="control-span">
                                        <span ng-show="viewModel.itemEditing.LastPasswordChangedDate" ng-moment="viewModel.itemEditing.LastPasswordChangedDate" format="L"></span>
                                        <span ng-hide="viewModel.itemEditing.LastPasswordChangedDate" ng-i18n="commons.never"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6" ng-show="viewModel.itemEditing.DateThatMustChangePassword">
                                <div class="form-group">
                                    <label class="control-label" ng-i18n="page.user.expiration_date"></label>
                                    <span class="control-span" ng-show="viewModel._moment.DateThatMustChangePassword.isAfter()">
                                        <span ng-moment="viewModel.itemEditing.DateThatMustChangePassword" format="L"></span>
                                        (<span ng-moment="viewModel.itemEditing.DateThatMustChangePassword" moment-format="fromNow"></span>)
                                    </span>
                                    <span class="control-span" ng-show="viewModel._moment.DateThatMustChangePassword.isBefore()" ng-i18n="commons.expired"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="viewModel.itemEditing.UserBlockedForManyAccess">
                            <label class="control-label" ng-i18n="page.user.blocked_account"></label>
                            <span class="control-span" ng-show="viewModel._moment.LockoutEndDateUtc.isAfter()">
                                <span ng-i18n="page.user.account_will_unblock"></span>
                                <span ng-moment="viewModel.itemEditing.LockoutEndDateUtc" moment-format="calendar"></span>
                                (<span ng-moment="viewModel.itemEditing.LockoutEndDateUtc" moment-format="fromNow" update="viewModel.updateLockoutTime"></span>)
                            </span>
                            <span class="control-span" ng-show="viewModel._moment.LockoutEndDateUtc.isBefore()">
                                <span ng-i18n="page.user.already_unlocked"></span>
                                (<span ng-moment="viewModel.itemEditing.LockoutEndDateUtc" moment-format="calendar"></span>)
                            </span>
                        </div>

                        <div class="form-group">
                            <label class="control-label" ng-i18n="label.status"></label>
                            <div class="checkbox checkbox-green">
                                <input id="statusAtivo" type="checkbox" ng-model="viewModel.itemEditing.Active">
                                <label for="statusAtivo" ng-i18n="label.active"></label>
                            </div>
                            <label class="control-label" ng-i18n="label.account_type"></label>
                            <span class="control-span">{{viewModel.itemEditing.AuthenticationTypeDescription}}</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" ng-i18n="label.name"></label>
                            <input type="text" required class="form-control" ng-model="viewModel.itemEditing.Name" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" ng-i18n="label.login"></label>
                            <input type="text" readonly class="form-control disabled" ng-model="viewModel.itemEditing.Login" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" ng-i18n="label.email"></label>
                            <input type="text" readonly class="form-control disabled" ng-model="viewModel.itemEditing.Email" />
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="control-label" ng-i18n="label.group"></label>
                            <picklist list="viewModel.groupsList"
                                      description="Name"
                                      right-list="viewModel.itemEditing.Groups"
                                      height-list="200px"></picklist>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="control-label" ng-i18n="label.countries"></label>
                            <div class="checkbox">
                                <input type="checkbox" id="allCountries" ng-model="viewModel.itemEditing.AccessAllDataVisibility">
                                <label for="allCountries" ng-i18n="label.all_countries"></label>
                            </div>
                        </div>
                        <div class="form-group" ng-show="!viewModel.itemEditing.AccessAllDataVisibility">
                            <picklist list="viewModel.countryList"
                                      right-list="viewModel.itemEditing.Countries"
                                      description="Name"
                                      height-list="200px"></picklist>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <button class="btn btn-primary" type="submit" ng-i18n="label.save"></button>
                                <button class="btn btn-default" ui-sref="users-list" ng-i18n="label.see_users"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
