<page-header page-title="page_head.new_user" breadcrumb="['nav.security', 'nav.new_user']"></page-header>

<div class="wrapper wrapper-content animated fadeInLeft">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 ng-i18n="label.new_user"></h5>
                </div>
                <div class="ibox-content">
                    <form ng-submit="viewModel.functions.saveItem()">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label" ng-i18n="label.account_type"></label>
                                    <div>
                                        <div class="radio radio-primary" ng-show="viewModel.authenticationTypesAvailable.dataBase.active">
                                            <input id="tipo2" type="radio" ng-required="!viewModel.itemEditing.AuthenticationType" name="tipo" ng-value="viewModel.authenticationTypesAvailable.dataBase.id" ng-model="viewModel.itemEditing.AuthenticationTypeId">
                                            <label for="tipo2" ng-i18n="label.db"></label>
                                        </div>
                                        <div class="radio radio-primary" ng-show="viewModel.authenticationTypesAvailable.activeDirectory.active">
                                            <input id="tipo1" type="radio" ng-required="!viewModel.itemEditing.AuthenticationType" name="tipo" ng-value="viewModel.authenticationTypesAvailable.activeDirectory.id" ng-model="viewModel.itemEditing.AuthenticationTypeId">
                                            <label for="tipo1" ng-i18n="label.ad"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" ng-i18n="label.name"></label>
                                    <div><input type="text" required class="form-control" ng-i18n-placeholder="label.user_name" ng-model="viewModel.itemEditing.Name"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" ng-i18n="label.email"></label>
                                    <div><input type="email" required class="form-control" ng-i18n-placeholder="label.email" ng-model="viewModel.itemEditing.Email"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" ng-i18n="label.login"></label>
                                    <div><input type="text" required class="form-control" ng-i18n-placeholder="label.login" ng-model="viewModel.itemEditing.Login"></div>
                                </div>
                                <div ng-hide="isActiveDirectory = viewModel.itemEditing.AuthenticationTypeId == viewModel.authenticationTypesAvailable.activeDirectory.id">
                                    <div class="form-group">
                                        <label class="control-label" ng-i18n="label.pass"></label>
                                        <div><input type="password" ng-required="!isActiveDirectory" class="form-control" ng-i18n-placeholder="label.pass" ng-model="viewModel.itemEditing.Password1"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" required ng-i18n="label.pass_confirm"></label>
                                        <div><input type="password" ng-required="!isActiveDirectory" class="form-control" ng-i18n-placeholder="label.pass_confirm" ng-model="viewModel.itemEditing.Password2"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-primary pull-right" ng-i18n="label.save"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <p class="text-center">
                                    <i class="fa fa-sign-in big-icon"></i>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>