.flag {
  display: inline-block;
  margin: 0; }
  .flag.flag-16 {
    background-position: 0 1px;
    background-repeat: no-repeat;
    height: 15px;
    width: 16px;
    margin: -5px auto -2px; }
  .flag.flag-32 {
    background-position: 0 3px;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px; }
  .flag.flag-16.flag-pt-BR {
    background-image: url("16/Brazil.png"); }
  .flag.flag-32.flag-pt-BR {
    background-image: url("32/Brazil.png"); }
  .flag.flag-16.flag-en {
    background-image: url("16/United-Kingdom.png"); }
  .flag.flag-32.flag-en {
    background-image: url("32/United-Kingdom.png"); }
  .flag.flag-16.flag-es {
    background-image: url("16/Spain.png"); }
  .flag.flag-32.flag-es {
    background-image: url("32/Spain.png"); }
  .flag.flag-16.flag- {
    background-image: url("16/Unknown.png"); }
  .flag.flag-32.flag- {
    background-image: url("32/Unknown.png"); }

