<div class="{{$state.current.name}}">
    <spinner class="spinner-primary" shape="double-bounce" show="spinnerFullPageShow" />
    <div ui-view></div>
</div>

<style>
    body {
        background-color: #f3f3f4 !important;
    }

        body > [ui-view] {
            background: -webkit-linear-gradient(white 150px, #f3f3f4 100%) !important;
            background:    -moz-linear-gradient(white 150px, #f3f3f4 100%) !important;
            background:      -o-linear-gradient(white 150px, #f3f3f4 100%) !important;
            background:         linear-gradient(white 150px, #f3f3f4 100%) !important;
        }
</style>
